 <style>
   .busca input {
      width: 100%;
      max-width: 414px;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin: 12px auto;
      display: block;
      box-sizing: border-box;
    }
  </style>
 
 <div class="busca">
    <input type="text" placeholder="Digite seu CEP" />
  </div>