<a href="#" style="font-size: 20px;" class="btn-login" id="back-btn" onclick="voltarPagina()">&#x276E;</a>
<div class="residuos-container">
  <h3>Resíduos que você pode separar para coleta:</h3>

  <div class="residuos-grid">
    <div class="residuo-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 512"
        width="40"
        height="40"
        fill="#28a745"
      >
        <path
          d="M384 96l0 224L64 320 64 96l320 0zM64 32C28.7 32 0 60.7 0 96L0 320c0 35.3 28.7 64 64 64l117.3 0-10.7 32L96 416c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-74.7 0-10.7-32L384 384c35.3 0 64-28.7 64-64l0-224c0-35.3-28.7-64-64-64L64 32zm464 0c-26.5 0-48 21.5-48 48l0 352c0 26.5 21.5 48 48 48l64 0c26.5 0 48-21.5 48-48l0-352c0-26.5-21.5-48-48-48l-64 0zm16 64l32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm-16 80c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16zm32 160a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
        />
      </svg>
      <h4>Informática</h4>
      <p>Microcomputadores, monitores, notebook, teclado, impressora, tablet e
        etc</p>
    </div>

    <div class="residuo-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        width="40"
        height="35"
        fill="#28a745"
      >
        <path
          d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-242.7c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32L64 32zm0 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32L96 224c-17.7 0-32-14.3-32-32l0-64zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
        />
      </svg>
      <h4 style="margin-top: 1px;">ELETRO<br />ELETRÔNICOS</h4>
      <p>DVD, aparelho de som, controle remoto, microondas, secador de cabelo e
        etc</p>
    </div>

    <div class="residuo-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="40"
        height="30"
        fill="#28a745"
      >
        <path
          d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
        />
      </svg>
      <h4 style="margin-top: 10px;">APARELHOS<br />TELEFÔNICOS</h4>
      <p>Aparelho celular, acessórios, aparelhos telefônicos com e sem fio e
        etc.</p>
    </div>

    <div class="residuo-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
        width="40"
        height="40"
        fill="#28a745"
      >
        <path
          d="M80 160c-8.8 0-16 7.2-16 16l0 160c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-160c0-8.8-7.2-16-16-16L80 160zM0 176c0-44.2 35.8-80 80-80l384 0c44.2 0 80 35.8 80 80l0 16c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32l0 16c0 44.2-35.8 80-80 80L80 416c-44.2 0-80-35.8-80-80L0 176z"
        />
      </svg>
      <h4>RESÍDUOS<br />ELETRÔNICOS</h4>
      <p>Baterias de notebooks, carregadores e adaptadores.</p>
    </div>
  </div>

  <div class="btn-voltar-container">
    <button onclick="window.history.back()" class="btn-voltar">Voltar</button>
  </div>
</div>

<script>
  function voltarPagina() {
  if (window.history.length > 1) {
    window.history.back();
  } else {
    const lastPage = document.referrer || '/';
    window.location.href = lastPage;
  }
}

</script>