* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: white;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fontes/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fontes/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fontes/Poppins-ExtraLight.ttf");
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p {
  font-family: "SourceCodePro", sans-serif;
  font-weight: 500;
  color: gray;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.logo {
  width: 250px;
  height: 230px;
  margin-bottom: 8vh;
  margin-left: 40px;
  margin-top: 40px;
}

.btn {
  display: block;
  padding: 12px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-voltar {
  display: inline-block;
  font-size: 24px;
  color: #28a745;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s ease;
}

.btn-voltar:hover {
  color: #218838;
}

.button_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 65px;
}

.entrar {
  background-color: #28a745;
  padding: 10px;
  margin-left: 8vh;
  width: 150px;
  color: white;
  border: none;
}

.cadastrar {
  margin-left: 65px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.cadastrar:hover {
  background-color: #28a745;
  color: white;
}

.entrar:hover {
  background-color: #218838;
}

.app-content {
  width: 100%;
  height: 0;
}

.btn-login {
  color: #28a745;
  text-decoration: none;
  padding: 15px;
}

.login-app {
  width: 100%;
  padding: 0 20px;
}

.login-app h3 {
  margin-top: 20px;
  text-align: left;
}

.form-login {
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-login form {
  display: flex;
  flex-direction: column;
}

.form-login label {
  text-align: left;
  margin-bottom: 4px;
  font-weight: bold;
}

.form-login input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.esqueceu-senha {
  text-align: right;
  margin-bottom: 16px;
}

.esqueceu-senha a {
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

.esqueceu-senha a:hover {
  text-decoration: underline;
}

.btn-enter {
  width: 18vh;
  margin-left: 72px;
  height: 5vh;
  align-items: center;
  background-color: #28a745;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enter:hover {
  background-color: #218838;
}

.login-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #888;
  margin: 20px 23px;
}

.mensagem-erro {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5vh;
}

.login-txt hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: white;
  display: flex;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-btn.google img {
  width: 30px;
  height: auto;
}

.social-btn.facebook img {
  width: 43px;
  height: auto;
}

.social-btn.apple img {
  width: 35px;
  height: auto;
}

.cadastro-txt {
  margin-top: 25vh;
  text-align: center;
}

.cadastro-txt a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.cadastro-link {
  color: green;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}

.cadastro-link:hover {
  text-decoration: underline;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 300px;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  max-width: 300px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

.entrar2 {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.entrar2:hover {
  background-color: #218838;
}

.tela-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.bottom-nav {
  position: fixed; /* Fixa o elemento na tela */
  bottom: 0; /* Posiciona na parte inferior */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para o centro */
  width: 100%; /* Ocupa toda a largura da tela */
  max-width: 414px; /* Define um limite de largura */
  background-color: white; /* Define uma cor de fundo */
  border-top: 1px solid #ccc; /* Adiciona uma borda superior */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000; /* Garante que fique acima de outros elementos */
  padding: 10px 0; /* Ajusta o espaçamento interno */
}

.bottom-nav svg:hover {
  fill: #ffffff;
  stroke: #218838;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  text-decoration: none;
  font-size: 12px;
}

.nav-item svg {
  margin-bottom: 4px;
}

.nav-item span {
  font-size: 11px;
}

.nav-principal {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.logo-principal {
  width: 90px;
  margin-right: 17vh;
}

.logo-principal0 {
  width: 60px;
  margin-left: 15vh;
}

.container-dashboard {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5vh 6vh;
  padding: 8vh 20px;
  height: auto;
  box-sizing: border-box;
}

.button-pontos {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  background-color: white;
  gap: 4vh;
  margin: 1rem 0;
  margin-right: 10px;
}

.button-pontos button {
  display: grid;
  padding: 10px;
  border-radius: 12px;
  flex-direction: column;
  gap: 5px;
  color: #333;
  text-align: left;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 100;
  align-items: center;
  background-color: white;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.button-pontos svg {
  width: 24px;
  height: 24px;
  text-align: left;
  flex-shrink: 0;
}

.button-pontos button:hover svg {
  stroke: white;
  fill: #28a745;
}

.button-pontos button:hover {
  background-color: #28a745;
  color: white;
}

.action-button {
  background-color: #f4f4f4;
  border: 2px solid #ddd;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-button:hover {
  background-color: #e6f9ed;
  border-color: #28a745;
}

.action-button svg {
  flex-shrink: 0;
}

.pontos-maps {
  margin-top: 10px;
  background-color: white;
  color: #28a745;
  border: 1px solid #28a745;
  padding: 15px 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pontos-maps:hover {
  background-color: #28a745;
  color: white;
}

.residuos-container {
  padding-right: 3px;
}

.residuos-container h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 16px;
}

.residuos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 5px;
  gap: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.residuo-item {
  background: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.residuo-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.residuo-item h4 {
  font-size: 14px;
  color: #444;
  margin-bottom: 6px;
}

.residuo-item p {
  font-size: 12px;
}

.btn-voltar-container {
  margin-top: 8px;
  text-align: center;
}

.btn-voltar {
  background-color: transparent;
  border: 1px solid #28a745;
  color: #28a745;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btn-voltar:hover {
  background-color: #28a745;
  color: white;
}

.conteudo-auth {
  width: 100%;
  margin-bottom: 10vh;
}

.user-menu {
  list-style: none;
  width: 390px; /* Defina a largura desejada */
  margin: 0 auto; /* Centraliza o menu horizontalmente */
}

.container-user {
  padding-left: 0px;
  padding-right: 20vh;
}

.buttom-user {
  margin-top: 10px;
}

.user-menu {
  list-style: none;
}
.user-menu li {
  border-bottom: 1px solid #ddd;
}

.user-menu a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #333;
  text-decoration: none;
}

.user-menu a:hover {
  background-color: #f0f0f0;
}

.user-menu svg {
  margin-right: 12px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.form-grapper {
  width: 100%;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
}

.form-grapper h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.tabela-cadastro {
  width: 100%;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}

.tabela-cadastro th,
.tabela-cadastro td {
  padding: 10px;
  text-align: left;
}

.tabela-cadastro th {
  font-size: 16px;
  padding-left: 0px;
  border: none;
  color: #333;
  font-weight: 600;
}

.tabela-cadastro tr {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.tabela-cadastro td {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

.container-btn-excluir {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente, se necessário */
  width: 100%; /* Garante que ocupe toda a largura disponível */
}

/* Botão de excluir */
.btn-excluir {
  background-color: #dc3545; /* Cor vermelha */
  color: white;
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  /* Remover qualquer margem ou alinhamento que possa desalinhar o botão */
}

.btn-excluir:hover {
  background-color: #c82333; /* Cor vermelha mais escura */
}

.card-coleta {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  color: #333;
  max-width: 331px;
  margin: 10px;
  gap: 10px;
}
  
.card-coleta p {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.card-coleta strong {
  font-weight: bold;
}

.card-coleta button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 12px;
  width: 100px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.card-coleta button:hover {
  background-color: #218838;
}