<div class="container-login">
  <img src="/img/1109.png" alt="Logo E-Reciclagem" class="logo" />

  <div class="button_home">
    <button
      class="btn entrar"
      onclick="window.location.href='/login'"
    >Entrar</button>
    <button
      class="btn cadastrar " 
      onclick="window.location.href='/cadastrar'"
    >Quero me cadastrar</button>
  </div>
</div>